[2018-10-09 02:03] owocki opened #15 "content bounty"
hey @sassal -- [we](https://gitcoin.co) are experimenting with using our product to do content bounties.     i've [done a couple in the past](https://gitcoin.co/profile/ethereumbook) but we dont have a ton of data points.

do you have any content that's stubbed out which you'd like to invite a gitcoin user to write?    i'm happy to fund the bounty, but i figured i'd ask first so i know what (if an

[2018-10-09 02:33] sassal commented on #15
Hey Kevin,

That would be a great idea. I'd have to formalize a list of topics that we're looking to get documented asap. I'll see what I can pull together and get back to you!

Thanks

[2018-10-09 05:07] owocki commented on #15
lets just start with one as a trial and see how it goez :)

[2018-10-09 07:07] sassal commented on #15
We'd really love to get some work done on running a node (https://github.com/econoar/ethhub/tree/master/using-ethereum/running-a-node).

Few starter questions in there but we'd like to see a condensed version of this: https://github.com/ethereumbook/ethereumbook/blob/develop/clients.asciidoc

Thanks!

[2018-10-09 11:21] liamzebedee opened #16 "Contribution guidelines"
Hey mate, this just popped up on my feed. Seems like you've got some great content here! I'd love to donate my content here for contribution - https://github.com/liamzebedee/awesome-solidity-patterns. Let me know if that'd be desired and if so, how. We need better documentation in Ethereum!

[2018-10-09 11:36] sassal commented on #16
Hey Liam,

That's an awesome bunch of resources you've put together.

I've created a new folder called 'Development' for you (https://github.com/econoar/ethhub/tree/master/ethereum-101/development). Feel free to submit pull requests with content that you'd like to add (from beginner guides to more advanced solidity things) and we can work on building it up together.

Thanks!

[2018-10-09 20:54] owocki opened #17 "document how to run an ethereum node"
# What

We'd really love to get some work done on running a node detailed here => (https://github.com/econoar/ethhub/tree/master/using-ethereum/running-a-node).

There are a few starter questions in there but we'd like to see a condensed version of this: https://github.com/ethereumbook/ethereumbook/blob/develop/clients.asciidoc

Please only apply if you have a history of writing good documentation

[2018-10-09 20:54] owocki commented on #15
taking the bounty over to https://github.com/econoar/ethhub/issues/17

[2018-10-09 20:54] #15 closed

[2018-10-09 23:57] JeremiGendron commented on #17
Here

[2018-10-09 23:58] sassal commented on #17
Hi @JeremiGendron :)

Thanks for taking on this job.

Looking forward to seeing your work!

[2018-10-10 02:43] JeremiGendron commented on #17
@sassal would love some feedback on #18 , which includes parity and geth basic instructions. Read comments for more info.

[2018-10-10 05:43] JeremiGendron commented on #17
@owocki @sassal @alexfisher  I will take your recommendations as I awake in the morning, running geth fast benchmarks tonight and parity warp in the morning. :clinking_glasses:

[2018-10-10 09:12] sassal commented on #17
This is incredible work so far @JeremiGendron - seems to be coming together nicely.

Just to help you on the **'Table of node settings'** - we're looking for a table that basically shows the difference between a archival, full and light node (helper points below).

- PC spec requirement (especially HDD space required)
- which flags activate which node with definitions of archival, full and light n

[2018-10-10 21:43] JeremiGendron commented on #17
@sassal Relatively inaccessible for me to sync the entire chains and offer node benchmarks, what should I do instead?

[2018-10-11 04:50] sassal commented on #17
Hey @JeremiGendron thanks for the extra work and the table looks great!

Did you have any luck with syncing a full archival node? I'm aware it can take a while as they are 1TB+ in size.

[2018-10-11 06:27] JeremiGendron commented on #17
Definitely not, don't have the required disk space. References from online discussion. Open to running nodes for you guys if wanted, I have experience with that.

[2018-10-11 07:37] sassal commented on #17
@JeremiGendron That's fine - I'll see if I can pull some resources together to run some tests myself.

I'll review the documentation you've put together so far and merge it once I'm done.

Thanks again for all your help so far.

[2018-10-11 15:27] owocki commented on #17
@sassal i just got a submission on gitcoin.  let me know when its 👍 and ill pay it out

[2018-10-11 21:41] liamzebedee commented on #16
Awesome! Quite busy searching for a house atm - I'm gonna take a read through your docs and try to understand the flow of the book. Then I can probably port some content over :)

[2018-10-11 21:48] sassal commented on #16
Sounds good :)

Just a note - Ethhub is going to be a website (basically a docs platform that pulls the info from github) so think of it in the flow of menus>submenus!

[2018-10-15 03:50] sassal commented on #17
@owocki reviewed the work and merged it into master - feel free to pay it out :) A big thanks to @JeremiGendron once again for all his hard work.

[2018-10-15 03:50] #17 closed

[2018-10-15 19:40] JeremiGendron commented on #17
I am working on figuring out the most cost effective AWS solution for Geth; today I hope to run a few initial tests and import the data into a model for analysis. If all goes well I will make some changes to what is provided in this section.

[2018-10-15 22:16] sassal commented on #17
Sounds good @JeremiGendron - thanks :)

[2018-12-12 10:52] hatgit commented on #16
Thought to leave this here as a potential resource/list of DEXs: https://github.com/distribuyed/index

[2018-12-12 22:26] DigitalAssetAdvisors opened #61 "Clarifications or corrections"
**Blocks/epoch | 31536000/(6*64) = 82125**

Is the heading of "blocks/epoch" correct?  It appears the above formula is calculating "epochs/year", but the label is misleading.

**Reward Quotient | 2048*INT(SQRT(10000000)) = 6475776**

The FFG spec was taking the SQRT of the % of total ETH supply at stake, rather than the number of ETH locked into validator deposits.  Should the 10000000 figure abov

[2018-12-12 23:49] econoar commented on #61
Hey! Thanks a lot for the help. You're indeed right that should be blocks/epoch.

For the reward quotient question, I feel that calc is right because if not the issuance numbers are way off. Maybe I'm missing something though?

Definitely on rewards/epoch too, a typo.

Fixing the 2 typos now, thanks!

[2018-12-12 23:52] Phistr90 opened #66 "Comments on EthHub CFTC Response"
Some points require clarification or corrections:

**Question 9:**

There is a slight inconsistency in terminology.

You rightfully it says that

but two paragraphs later it says

Please make clear when you speak of Casper FFG and when of Casper CBC or whether you in general talk about FFG.

Based on my knowledge about Casper CBC (might not be true for FFG) this example

doesn't describe an equivo

[2018-12-13 15:58] #61 closed

[2018-12-14 00:17] DigitalAssetAdvisors commented on #61
If we adjust Reward/epoch to be 3.088, then we must adjust the subsequent formula:
Generated ETH/Year | 82125***3088** = 253638

In the formulas provided, this would reduce validator interest/year to 0.0245%.  Something is off with the math.

[2018-12-14 00:46] econoar commented on #61
82125*3088 = 253,602 ETH a year to validators.

253602/10000000= 0.0253602 * 100 = 2.53% interest a year.

I fixed the 3088 but I think the rest is fine.

[2018-12-19 04:45] Hex-Capital opened #85 "Sample Kickstarter (ETHstarter) smart contract"
Draft of ETHstarter (Kickstarter) contract attached

Administrators
- Launch ETHstarter campaign by deploying contract
- Set fundraisingGoal in ETH
- Set EndTime (max of 30 days from launch)
- Set wallet address for withdrawing funds (if campaign reaches fundraisingGoal)
- Option to cancel the campaign before endTime if fundraisingGoal has not been met

Contributors
- Send contributions until fund

[2018-12-19 08:19] sassal commented on #85
Awesome work - thank you! This will be a great starting point to build upon.

[2018-12-19 12:57] chanan-sack opened #88 "no response on commit after some back and fourth"
improved answers to both questions 1 & 7 and after making a pull request and some back and fourth - stopped getting feedback, the changes are important and should not be overlooked.

on a more serious note: my corrected answer to question 1 actually replaces the currect incorrect answer, this is pretty serious if we want to actually provide usefull input.

[2018-12-19 13:13] chanan-sack commented on #88
on a more serious note: my corrected answer to question 1 actually replaces the currect incorrect answer, this is pretty serious if we want to actually provide usefull input.

[2018-12-19 15:56] vs77bb commented on #85
Hi friends, Vivek from Gitcoin here. We have something called [Gitcoin Grants](https://gitcoin.co/grants/) which might be right up your alley. If you 👍this message I'll get you Admin access to the MVP, which will be out in the wild very soon 🙂

We're hoping it will be a place where the most important projects get community support + get the fundraising they need to move forward the ecosystem. Let

[2018-12-19 16:11] AdrianClv opened #90 "Fork an already developed fundraising platform with built-in governance for the Ethereum Fundraising Event"
Hi,

I'm the CTO of Coin Governance System (https://cgs.vote/), an on-chain governance mechanism to manage funds in escrow between the donors and the receiver. It was initially developed to improve how funds are managed in an ICO (like DAICO, see https://medium.com/coin-governance-system/daico-and-coin-governance-system-differences-and-similarities-81ba6afc7b9b), but it can also be used to fund no

[2018-12-19 20:00] #88 closed

[2018-12-19 20:00] ChazSchmidt commented on #88
I responded with feedback

[2018-12-19 20:04] chanan-sack commented on #88
got it, if i improve the answers according to your feedback - will they be merged? its important because of the current incorrect one. so im just making sure that i wont be working on them for nothing..

[2018-12-19 20:09] ChazSchmidt opened #91 "Adding analogies for terms and concepts"
Taking a page from [The Sideways Dictionary](https://sidewaysdictionary.com/#/about), a dictionary that provides analogies instead of definitions, I think implementing this concept into EthHub would be useful for new users to understand the definitions of terms better.

I opened this issue because I'm seeking feedback and where best to implement this concept to the current EthHub wiki.

I think it

[2018-12-19 20:17] ChazSchmidt commented on #90
This is interesting. How would the dispute system work with ETH instead of tokens?

[2018-12-19 20:24] ChazSchmidt commented on #85
How long until grants are publicly available? Would it make sense to ever have a fund raising event/contract like this feed into a grant's subscription contract?

[2018-12-19 20:31] ChazSchmidt opened #92 "Advertisements on EthHub"
With all the talk of raising funds for devs, I thought I'd throw this out there to get more opinions on the matter.

How does the community feel about advertising on EthHub? The revenue from the ads could go to the maintenance of the site and any additional income could be used to support developers. A service like [CodeFund](https://codefund.io/) might be an option. Obviously, the ads would have

[2018-12-19 20:59] ChazSchmidt commented on #85
This also might be useful for something like this https://github.com/ethereum/EIPs/issues/1620

[2018-12-20 00:22] sassal commented on #92
@econoar have discussed funding mechanisms for EthHub extensively. We probably want to keep advertising to just the podcast and newsletter (and not on the EthHub website itself).

List of ideas we've had so far:
- EthHub merch shop (t-shirts, stickers, art pieces etc)
- Patreon and/or Staketree
- Sponsored spots (podcast, newsletter)
- Referral links and promo codes

All revenue generated would go

[2018-12-20 10:44] AdrianClv commented on #90
The idea would be to issue a token for every project that accept donations. These tokens will have no value and will be used only to open a claim in the project.

The arbitration mechanism could use either Ether (working in the same way), or issuing a new token with no value that would be distributed among well-known members of the community/Ethereum Community Fund/etc.

[2018-12-21 10:04] Destiner commented on #92
I think one way to do this is to make some kind of "sponsors" section. Ads are obtrusive and overall have bad user experience, but putting a small image of the sponsor project is fine IMO. For example, say 0x becomes a sponsor and we put their logo and link in the corner. No messages, no offers, just logo.

Here's an example of that on [Vue developer docs](https://vuejs.org/v2/guide/) (on the righ

[2018-12-27 23:19] owocki opened #104 "Gitcoin Grants && EthScalingFunding.com"
Hi there,

Just wanted to comment on https://github.com/ethhub-io/ethhub/blob/master/other/ethereum-fundraising-event.md but didnt see a good way to do so.

We're trying to position [Gitcoin Grants](https://gitcoin.co/grants), which just launched, to make it a kind of decentralized Patreon.  The idea is that the one-time grants the ECF/EF have been giving are a great one-time capital injection, bu

[2018-12-28 10:46] cyber-hokie commented on #104
@econoar you slacker... the great Owoki requests and audience for further discussion!

[2018-12-28 10:48] cyber-hokie commented on #92
I guess the question is, how do you commoditize that so you can contribute it to the developer fund?

[2018-12-28 15:11] ethhub-io commented on #104
@owocki we are working on building out a channel right now where people can talk about EthHub related items like this. I'll send you an invite within the next couple of days.

[2018-12-31 19:34] arektdev commented on #104
@ethhub-io Hello. Is there a discord server for this yet?

[2018-12-31 19:45] econoar commented on #104
https://discordapp.com/invite/gw8AM98

[2018-12-31 19:45] #104 closed

[2019-01-03 03:07] econoar commented on #16
contribution guidelines now up

[2019-01-03 03:07] #16 closed

[2019-01-03 07:54] 5chdn opened #118 "Monetary Policy"
Good morning.

Regarding: https://docs.ethhub.io/ethereum-basics/monetary-policy

Ether was never considered as currency and therefore, Ethereum never had a monetary policy. While this information on that page is mostly accurate, it might indicate for users that Ethereum indeed has an official policy. What do you think, shall we rename the page?

Also, block reward reduction is just something to s

[2019-01-03 08:09] sassal commented on #118
Hey Afri!

That's a point good - we don't want to be giving the impression that there is an 'official' monetary policy for Ethereum (as its decided upon by a multitude of different stakeholders). I'm open to suggestions for a new name if you have any!

Agree on the block reward point too - I'll let @econoar reword it once he's online as this document was originally created by him.

[2019-01-03 09:21] pipobimbo opened #121 "Typo in ethereum-basics/what-is-ether/store-of-value"
"as it lowers the security of the blockchain by comprising the value of ether" ==> "as it lowers the security of the blockchain by compromising the value of ether"

[2019-01-03 09:22] sassal commented on #121
Thanks - ill add the correction!

[2019-01-03 09:22] #121 closed

[2019-01-03 11:05] #66 closed

[2019-01-03 19:35] Nemris commented on #118
The argument for whether ether is currency does not turn on whether it was (or wasn't) considered currency at time T-1 by group X. It turns on whether it is considered currency by readers of ethhub at the present time.

But even if you reject that assertion, you still have the problem that your case may be unsound.
Premise 1: "Ether was never considered as currency"
Conclusion: "therefore..."

Wha

[2019-01-03 21:56] ChazSchmidt commented on #118
I think the best compromise might be to leave the page name as monetary policy and then include a section covering the history and debate over the terms, issuance etc.

[2019-01-04 00:54] tbm opened #130 "Ether is fungible - contradiction"
https://docs.ethhub.io/ethereum-basics/what-is-ether/medium-of-exchange says:

So you say it's highly fungible but in brackets you say it's not?

[2019-01-04 00:56] sassal commented on #130
Good catch! I just committed a bunch of changes I had been working on for that page - check it out and let me know what you think :)

[2019-01-04 01:00] tbm commented on #130
Thanks, this was indeed addressed in af7ded9cc13d3d

[2019-01-04 01:00] #130 closed

[2019-01-04 01:42] tbm opened #131 "Description of currency-backed stablecoins not clear (the tether)"
https://docs.ethhub.io/built-on-ethereum/open-finance/stablecoins says

I think "tether" is unclear because 1) "Tether" is the name of an actual stablecoin and 2) the word isn't very common and hard for non-native speakers.

Maybe "peg" or "link" or something?

[2019-01-04 01:55] tbm opened #132 "Mention the Howey test"
It would be nice to mention (and explain) the Howey test somewhere, maybe in a chapter on ICOs and STOs, or at least a glossary.

[2019-01-04 03:21] ChazSchmidt commented on #131
Out of the two I would prefer peg or pegged

[2019-01-04 10:10] 5chdn commented on #118
+1

[2019-01-04 12:34] sassal commented on #118
I agree with @ChazSchmidt. I can work something up tomorrow unless someone else gets to it first :)

[2019-01-04 17:16] ChazSchmidt commented on #132
+1. Quoting the SEC here is a must. Maybe even citing https://www.howeycoins.com/index.html (https://investor.gov/howeycoins)

[2019-01-05 15:04] RexShinka commented on #92
A subscription on GitCoin might be another avenue.

[2019-01-06 01:40] sassal commented on #92
Thanks for all the input everyone! We've got a post coming out during the week that summarizes all our thoughts around advertisements/monetization strategies - stay tuned!

[2019-01-06 01:40] #92 closed

[2019-01-07 00:00] Destiner opened #141 "Proposal: simplify DEX classification"
We have an awesome collection of DEXs with the description of their mechanics and how they differ from each other.

One thing that I think can be improved is the categories that we have for "DEX" section. I see two problems here: too many categories and long descriptions.

Also, there are also some doubts about where we need to put each DEX. For example, EtherDelta/ForkDelta seems to have order bo

[2019-01-07 02:41] oliver-ernst opened #142 "Include definition of archive node in running a node section"
Hello,

On the "Running a node" page, I'm just wondering if someone with the relevant knowledge could include a sentence or two about what the archive mode on geth and parity actually is, maybe why it's so much bigger and if it offers any additional security to the network by running this mode.

I just don't really understand this mode and would love a simple explanation as to why it's more than 1

[2019-01-07 11:01] sassal commented on #142
@cyber-hokie was looking into this if I remember correctly!

[2019-01-07 11:02] sassal commented on #141
Agreed - the DEX section could definitely use a clean up. I should be able to get to it within the next 24 hours unless you had some spare time to get the changes going yourself :)

[2019-01-08 02:51] #90 closed

[2019-01-08 02:51] #118 closed

[2019-01-08 14:37] tbm opened #145 "Good Security Token Offerings (STO) link"
This is a good article about STOs: [All you Need to Know about Security Token Offerings (STO)](https://guerrillabuzz.com/all-you-need-to-know-about-security-token-offerings-sto/)

It could be added to the references or as part of a chapter on ICO/STO (see #132)

[2019-01-09 01:15] sassal commented on #145
The resource is good but unfortunately the website offers services such as "ICO Marketing" which we don't want promoted and associated with EthHub.

Maybe theres a Medium article out there with similar information?

[2019-01-09 01:49] tbm commented on #145
Fair enough. The site looked a bit weird (didn't look closely) but the article was pretty good. I'll see if there's another article.

[2019-01-09 01:54] tbm commented on #145
https://www.cointelligence.com/content/security-token-offering-sto-how-to/ (not sure that site is ok)

https://medium.com/swlh/understanding-security-token-offerings-sto-bc272acd3f27 (but not as complete)

https://tokeny.com/the-pros-and-cons-of-security-token-offerings/ (not sure if ok)

[2019-01-09 02:12] haokaiwu commented on #132
@tbm Check out my most recent pull request. I added a section about the Howey test to explain why Ether will likely not be classified a security.

[2019-01-09 02:21] tbm commented on #132
@haokaiwu PR #147 looks good to me (but I'm not an expert). Thanks

[2019-01-09 03:20] sassal commented on #132
Yep - merged @haokaiwu's work on https://github.com/ethhub-io/ethhub/pull/147 - great stuff!

[2019-01-09 03:20] #132 closed

[2019-01-09 07:53] sassal commented on #142
Hey @oliver-ernst.

We added a description to the [Running an Ethereum Node](https://github.com/ethhub-io/ethhub/blob/master/using-ethereum/running-an-ethereum-node/README.md).

"Archive nodes are only necessary if you want to check the state of an account at any given block height. For example, if you wanted to know the Ether balance an account had at block #4,000,000, you would need to run and q

[2019-01-09 09:06] #141 closed

[2019-01-15 13:48] rasliche opened #159 "Block Structure Diagram Not Viewable on Desktop"
The Block Structure Diagram on [this page](https://docs.ethhub.io/using-ethereum/ethereum-network-basics/mining/block-generation) is very small and not-clickable.

I'm on Brave browser, updated to most recent.

[2019-01-16 01:42] rasliche commented on #159
Do you have a guide for helping contribute? Do I need to download somethinggitbook? Or would any markdown previewer work?

[2019-01-16 01:44] sassal commented on #159
We've got a post coming out soon that will give detailed contribution guidelines but for now you can simply browse the pages on Github and submit a pull request if you'd like to add/change/fix anything.

We use Markdown for every page!

[2019-01-16 01:45] rasliche commented on #159
Roger that. I just wasn't sure if the fix was as simple as I thought (it was, apparently), so I wanted to double check locally (and practice the whole clone, fix, pull-request workflow) before going that route.

[2019-01-16 01:46] sassal commented on #159
That's all good! Markdown is super intuitive so it's usually pretty easy to fix stuff.

[2019-01-17 08:31] Yuval-Halevi commented on #145
@sassal
I wrote the article.
GuerrillaBuzz is indeed a marketing agency so I understand why you can't refer to the article.

For that purpose, I also launched the same article on [Medium](https://medium.com/guerrillabuzz/all-you-need-to-know-about-security-token-offerings-stos-guerrillabuzz-62dd37c7cf7a?source=collection_home---1------2---------------------)

I hope it helps :)

[2019-01-17 09:47] marcuswin opened #167 "Remove duplicates"
I found some duplicates in Built on Ethereum section, like 0x Protocol (in open Finance) with 0x Protocol (in Decentralized Exchanges) and Burner Wallet (in open Finance) with POA Network (in Infrastructure). Maybe something else I missed.

[2019-01-20 09:43] oliver-ernst commented on #142
Thank you for the definition, makes sense and is easy to understand.  Thanks for the hard work you are all contributing to this project.

[2019-01-20 09:43] #142 closed

[2019-01-25 15:10] ArtemBernatskyy opened #178 "What's your incentive for doing this project?"
Awesome project, but after reading through website I've found lots of mentions of ICOs which could be a paid advertisement.

So we need to ask - what's your incentive to do this project?
How it is funded?
How are you related to Ethereum?

Thx.

[2019-01-25 19:42] #91 closed

[2019-01-25 22:34] sassal commented on #178
Hey Artem,

We try our hardest to avoid having any ICO-related advertisements (or any advertisements) displayed on the website. Are you able to point me towards the content you're talking about?

We haven't been paid for any content on the site and we're entirely self-funded and independent.

[2019-01-25 23:34] econoar commented on #178
I suppose I'll round out the trio here but I have not made a dime from EthHub. In fact, we've lost a decent amount running it...

There are no paid ICO ads on the page. I would be interested in what you're referring to as well.

Cheers

[2019-01-25 23:36] ArtemBernatskyy commented on #178
So, in other words, you are not related to Ethereum Foundation in any way.
And any tokens mentioned in EthHub isn't investing advice.

[2019-01-25 23:37] sassal commented on #178
No, we are completely independent.

The pages for projects that have associated tokens are for information purposes only and should not be taken as investment advice or endorsement.

[2019-01-25 23:45] ArtemBernatskyy commented on #178
Thx, closing this issue.

CC @econoar , I've wrote `could be a paid`, so I can't prove it and you can't prove opposite.
Because I am failing to see any incentive except pure enthusiasm, which we need to treat with a fair bit of caution.

[2019-01-25 23:45] #178 closed

[2019-02-06 07:45] digitalisland opened #192 "Adding logo.png as favicon that is currently missing from site."
I've noticed there is no Favicon showing up on Brave, Chrome, or Firefox.

logo.png from the front page looks like the right file to use.

I know how to add this using my own websites using Transmit. Am a bit of a Github noob though so not quite sure what the procedure is here.

[2019-02-07 01:44] ChazSchmidt commented on #192
Thanks for bringing it to our attention. I'll look into it.

[2019-02-07 03:51] ethhub-io commented on #192
fixed!

[2019-02-07 03:51] #192 closed

[2019-02-08 07:42] digitalisland opened #194 "Please add r/ethereumnoobies to resources page, along with other subreddits."
Github is still beyond me, but wanting to add r/ethereumnoobies where I am one of the mods. to the list of subreddits listed on the resources page.

[2019-02-09 12:58] sassal commented on #194
Added!

https://github.com/ethhub-io/ethhub/commit/16a0059bc6618843d0c8b95229e8252300ea41fd

[2019-02-09 12:58] #194 closed

[2019-02-13 04:04] digitalisland opened #199 "Adding a section on signing transactions (for voting on proposals, proving wallet address ownership etc)."
I can't see any information on how to sign a transaction (for voting, proof of ownership etc) and was going to add one. I am still learning how to make pull requests at this stage though, and to be honest am probably not the best person to explain this procedure in plain English either. It would be good to have a section on this - perhaps in 'Using Ethereum? Thx, Ana.

[2019-02-14 05:51] digitalisland opened #209 "Sub-menu structure of website appears to have been broken."
When I enter website, instead of being able to navigate through the submenus I am presented with a page in more basic text layout that only has forward and back options thus precluding the ability to access many of the sub-menus.

[2019-02-14 12:43] stellarmagnet opened #211 "Learn, Listen, Read on the homepage is confusing"
I thought "Read" would take me to the Wiki

Suggested change -- just be more specific!

Wiki | Podcast | Newsletter

Alternatively: adding a the description under each word Learn, Listen, Read for where it is you are going

[2019-02-15 07:03] digitalisland commented on #209
Problem solved. I now realise this is the screen displayed for my laptop when the browser is not in full screen mode with a button in the left bringing up the sub menus that are otherwise hidden.

[2019-02-15 07:04] #209 closed

[2019-02-15 07:06] digitalisland commented on #211
I concur with the OP.

[2019-02-15 23:16] ChazSchmidt commented on #211
I have had this happen to me too. I'll have to take this into consideration for future changes.

[2019-02-20 00:09] ChazSchmidt commented on #199
I'll add it to the list. Thanks for the suggestion.

[2019-02-20 02:23] ChazSchmidt commented on #199
https://github.com/ethhub-io/ethhub/blob/master/docs/using-ethereum/transactions.md#signing-transactions-on-ethereum

[2019-02-20 02:23] #199 closed

[2019-02-25 17:20] jschiarizzi opened #218 "Add explanation of common acronyms."
For example:
- ERC : Ethereum Ready for Comment
- EIP : Ethereum Improvement Proposal
- TCR : Token Curated Registry.

Too many throwing around acronyms makes learning challenging for beginners, especially when it is hard to find what things stand for.

[2019-03-01 19:59] ChazSchmidt commented on #218
These can be found here. https://github.com/ethhub-io/ethhub/blob/master/docs/glossary/crypto-acronyms.md

Maybe we can find a way to incorporate this into other sections such as crosslinking.

[2019-03-01 19:59] ChazSchmidt commented on #167
Did this get fixed in the redesign?

[2019-03-01 20:00] ChazSchmidt commented on #85
Are we able to close this now that Gitcoin Grant matching is happening?

[2019-03-01 20:01] ChazSchmidt commented on #145
Has this issue been solved?

[2019-03-01 23:28] jschiarizzi commented on #218
Yes, that would be helpful,as I totally missed it. Thanks

[2019-03-11 08:40] sassal opened #228 "Eth1.x Section Improvements"
We currently have an Eth1.x page [here](https://github.com/ethhub-io/ethhub/blob/master/docs/ethereum-roadmap/ethereum-1.x.md) and we would like to flesh it out with the latest details.

**Work to be done:**
- Provide a detailed, high-level summary of what Eth1.x is and why it's needed
- Make sure the Eth1.x section is up to date across the board
- Clearly explain each sub-section (state rent, ewa

[2019-03-11 08:51] sassal opened #229 "Eth2.0 Section Improvements"
We currently have an Eth2.0 section [here](https://github.com/ethhub-io/ethhub/tree/master/docs/ethereum-roadmap/ethereum-2.0) and we would like to flesh it out with the latest details.

**Work to be done:**
- Provide a detailed, high-level summary of what Eth2.0 is and why it's needed
- Update the Eth2.0 phases page with the latest information
- Provide a detailed explanation of the current state

[2019-04-01 22:49] #228 closed

[2019-04-06 10:36] ssteiger opened #252 "Missing image file"
https://docs.ethhub.io/ethereum-roadmap/ethereum-2.0/sharding/

[2019-04-06 13:10] sassal commented on #252
Fixed - thanks for the heads up :)

[2019-04-06 13:10] #252 closed

[2019-04-10 18:48] jjmstark opened #254 "add a landing page for "built on ethereum""
Currently, clicking on "built on ethereum" from the docs homepage takes the user directly to "Open Finance".

This was unexpected, given that I clicked a link with a different name. It will be confusing to people who don't know what "Open Finance" means and understand that it is just the first sub-section in the "built on ethereum" category.

There should be a landing page for "built on ethereum"

[2019-04-10 18:49] jjmstark commented on #211
Agree with this! Would be a useful change.

Other options to name the "Learn" section could be "Knowledge base" or simply "docs"

[2019-04-10 20:05] econoar commented on #254
fixed and at https://docs.ethhub.io/built-on-ethereum/built-on-ethereum/ now. Let me know thoughts.

Cautious to add a huge list to that page of every dapp due to maintenance overhead.

[2019-04-10 20:05] #229 closed

[2019-04-12 13:48] jjmstark commented on #254
Awesome! Looks great - makes sense about not adding every list, listing the app categories is a good substitute.

[2019-04-12 13:48] #254 closed

[2019-04-12 15:20] econoar commented on #211
fixed

[2019-04-12 15:20] #211 closed

[2019-04-13 17:25] Huge opened #258 "Chain size link defunct"
At https://docs.ethhub.io/questions-about-ethereum/is-ethereum-over-1tb-in-size/ the first link "here" can't be loaded.

[2019-04-14 05:24] sassal commented on #258
Nice catch! Replaced the link with https://www.nodestats.org/.

[2019-05-23 03:51] sneg55 opened #277 "missing OGP and twitter cards at head"
When links from ethhub shared on social media they are missing nice preview and cover image.

I think you have to implement OGP http://ogp.me/  and twitter cards https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image

[2019-05-24 00:17] aranhaagency commented on #277
it is possible to add in this part of the project, send a pull request :)[ethhub/site](https://github.com/ethhub-io/ethhub/tree/master/site)

I will go now learning about OGP and twitter cards.

good work

[2019-05-28 17:02] adlerjohn opened #281 "Rewrite the Plasma page"
The [Plasma page](https://github.com/ethhub-io/ethhub/blob/940920595ae5e3f8864f4e6f1b81af5617f19803/docs/ethereum-roadmap/layer-2-scaling/plasma.md) requires an almost complete rewrite. It contains a bunch of extraneous information, is outdated, and doesn't convey the actual benefits and shortcomings of Plasma accurately.

[2019-05-28 23:26] sassal commented on #281
Do you know of anyone we should reach out to? We're happy to pay someone (in ETH or DAI) to write a proper page for it.

[2019-05-29 00:48] adlerjohn commented on #281
Given that advancing research on layer-2 systems, in particular side chains, for the public Ethereum chain is literally my job, I'd be happy to do it. Though since we're in the public blockchain space, incentives are paramount. A gitcoin bounty would be enough to incentivize me to work on this (and maybe other qualified people!).

[2019-06-02 05:39] sassal opened #285 "Plasma Page Rewrite"
The Plasma page requires a full rewrite (https://docs.ethhub.io/ethereum-roadmap/layer-2-scaling/plasma/).

Work to be done:

-Provide a detailed, high-level summary of what Plasma is
-Provide an explanation on how Plasma works
-List the pros and cons of Plasma
-Clearly explain the differences between the most popular Plasma flavours
-Provide relevant resources under a 'Resources' heading at the b

[2019-06-02 05:51] sassal commented on #281
Bounty open: https://github.com/ethhub-io/ethhub/issues/285

[2019-06-18 18:26] shawnharmsen opened #294 "Running an Ethereum Node - 5chdn link no longer hosted"
Wanted to post here before submitting a PR.

defunct link:
http://didtheethereumblockchainreach1tbyet.5chdn.co/

defunct link in this page:
https://docs.ethhub.io/using-ethereum/running-an-ethereum-node/

Was looking at wayback machine:
https://web.archive.org/web/20190207053336/http://didtheethereumblockchainreach1tbyet.5chdn.co/

I'm having trouble finding another source as useful as Afri's was

[2019-06-19 10:04] sassal commented on #294
I think we can use the Etherscan link for now - its unfortunate that Afris website no longer works!

[2019-06-19 20:23] #285 closed

[2019-06-19 20:24] #281 closed

[2019-06-21 18:42] #294 closed

[2019-06-22 07:43] sassal opened #299 "[Bounty] Gather Ethereum Enterprise Resources"
## Requirement

List all the companies/enterprises building on top of Ethereum on this [page](https://github.com/ethhub-io/ethhub/blob/master/docs/built-on-ethereum/enterprise/enterprise.md).

## Gather resources for companies:
- Building on public or private Ethereum
- Working on enterprise use-cases (such as EY's Nightfall or JPMs Zether)
- Integrating Ethereum-based products into their own apps

[2019-06-22 10:03] sudeepb02 commented on #299
Hi @sassal
I'd be interested to work on this. Submitted a proposal on gitcoin for this issue.
Thanks.

[2019-06-29 12:50] #299 closed

[2019-07-01 11:09] RLlane9 opened #302 "http code 200 { "item": {Object}, "income": { "income_streams": [ { "confidence": 1, "days": 518, "monthly_income": 1601, "name": "PLAID" }, { "confidence": 0.95, "days": 415, "monthly_income": 1530, "name": "BAGUETTES INC" } ], "last_year_income": 28072, "last_year_income_before_tax": 38681, "projected_yearly_income": 19444, "projected_yearly_income_before_tax": 26291, "max_number_of_overlapping_income_streams": 2, "number_of_income_streams": 2 }, "request_id": "m8MDnv9okwxFNBV" }"

[2019-07-01 11:10] RLlane9 commented on #302
var plaid = require('plaid');

var plaidClient = new
plaid.Client(PLAID_CLIENT_ID,
PLAID_SECRET, PLAID_PUBLIC_KEY,
plaid.environments.sandbox, {version:
'2019-05-29'});

[2019-07-01 11:14] #302 closed

[2019-07-02 01:26] #277 closed

[2019-07-28 13:46] sudeepb02 opened #314 "No information on the ERC1257 page"
The ERC1257 page [here](https://docs.ethhub.io/built-on-ethereum/erc-token-standards/erc1257) is a blank page without any information on it. After searching for this ERC, I came across [this EIP here](https://github.com/ethereum/EIPs/issues/1257) which is still in the draft version, and no updates on this issue since last year. Should this page be removed? Or content to be added from the draft EIP

[2019-07-29 04:23] sassal commented on #314
Page deleted - thanks for the heads up :)

[2019-07-29 04:23] #314 closed

[2019-08-08 22:33] jamesconnolly93 opened #320 "Fix broken links"
I Ran a scan for broken links and found the following. Apologies for the messy format of this issue, should have probably made a Google Sheet to track these.

Monetary Policy.MD - links to Serenity phases broken
Eth 1.0 to 2.0 page had a broken link to Phases as well
Eth 2.0 AMA - same think with broken link to phases
Proof of Stake - link to Eth2.0 economics broken

On this menu https://docs.ethh

[2019-08-11 07:40] SjonHortensius opened #323 "Markup issues in html but not in markdown files"
I found various markup issues in the HTML files that aren't present in the original markdown files - however both seem to be stored in this repo. Do I correctly assume the markdown files are somehow converted? Or should I create issues to fix the html directly?

[2019-09-11 12:34] Huge commented on #258
Nodestats declares itself discontinued.

[2019-09-12 04:32] sassal commented on #258
Unfortunately yes - do you know of any other resources we can replace it with?

[2019-09-25 03:35] akegaviar opened #347 "Parasol seems to be dead, maybe remove it"
In the docs > tooling section, there's Parasol:

https://docs.ethhub.io/ethereum-basics/development/tooling/

The website is down and the repo hasn't seen commits in a year. So maybe remove it?

[2019-09-25 10:58] sassal commented on #347
Nice catch - removed!

[2019-09-25 10:58] #347 closed

[2019-09-25 19:08] #218 closed

[2019-09-25 19:08] #167 closed

[2019-09-25 19:08] #145 closed

[2019-09-25 19:09] #85 closed

[2019-09-25 19:09] ChazSchmidt commented on #323
Can you give an example of what you're referring to?

[2019-09-25 19:10] jschiarizzi commented on #320
@ChazSchmidt you could also add a 'Hacktoberfest' label to this

[2019-09-27 07:30] SjonHortensius commented on #323
For example - https://github.com/ethhub-io/ethhub/commit/37eab9e1c00de8764378c698b4fd17c9f82c0f9f cannot be found in [site/ethereum-roadmap/ethereum-2.0/proof-of-stake/index.html](https://github.com/ethhub-io/ethhub/blob/master/site/ethereum-roadmap/ethereum-2.0/proof-of-stake/index.html).

It seems the `/site/` directory lags behind and isn't really used anywhere?

[2019-10-08 19:10] MarkOSullivan94 commented on #320
Working on these atm 👍

[2019-10-08 19:44] MarkOSullivan94 commented on #320
https://github.com/ethhub-io/ethhub/pull/353

[2019-10-10 20:38] acolomer1 commented on #323
mmm

[2019-10-16 12:43] MarkOSullivan94 commented on #320
@jamesconnolly93  @sassal this can be closed now

[2019-10-16 12:55] #320 closed

[2019-10-30 14:10] sassal opened #355 "[BOUNTY] Create page for Optimistic Rollups"
We need an educational/informational page created for Optimistic Rollups. It should be placed under https://docs.ethhub.io/ethereum-roadmap/layer-2-scaling/ as a new page called 'optimistic-rollups'.

This page should include:
-An explanation of what Optimistic Rollups (ORs) are
-How they can be used
-Example dapps (ideas or live)
-Pros and Cons
-Resource links
-Anything else you can think of

[2019-11-28 09:31] marcuswin commented on #258
Can be closed, I fixed in #365

[2019-11-28 13:02] #258 closed

[2019-12-12 17:02] marcuswin opened #391 "Remove ConsenSys VC"
Consensys VC is part of Consensys Labs now:
https://github.com/ethhub-io/ethhub/edit/master/docs/other/funds/consensys-vc.md

[2019-12-12 17:05] marcuswin opened #392 "Remove Gnosis X"

[2019-12-13 12:29] NeeradjGangapersad opened #394 "Slight adjustment Medium of Exchange in ethereum-basics/what-is-ether"
Hi,

I noticed that the structure of the third paragraph might be improved.

This pertains to the following section: "The Ethereum network (and Ether) have functioned as expected for 99.99% of its life. The other 0.01% includes surviving The DAO, multiple large hacks of smart contracts, multiple protocol-level exploits, the Shanghai DoS attacks, constant negative remarks from the wider crypto comm

[2019-12-15 06:14] #392 closed

[2019-12-15 06:14] #391 closed

[2019-12-20 15:18] marcuswin opened #407 "Remove AXA from Enterprise section"
Fizzy is over.
https://fizzy.axa/en-gb/

[2019-12-21 10:03] sassal commented on #407
Updated the page to reflect that the service was shutdown.

https://github.com/ethhub-io/ethhub/commit/2308f6f038ac161ea61f6f57893874e6e2582c60

[2019-12-21 19:26] #407 closed

[2020-01-10 15:50] #355 closed

[2020-01-10 15:51] econoar opened #415 "[BOUNTY] Create page for ZK Rollups"
We need an educational/informational page created for ZK Rollups. It should be placed under https://docs.ethhub.io/ethereum-roadmap/layer-2-scaling/ as a new page called 'zk-rollups'.

This page should include:
-An explanation of what ZK Rollups are
-How they can be used
-Example dapps (ideas or live)
-Pros and Cons
-Resource links
-Anything else you can think of

You can use https://docs.ethhub.i

[2020-01-10 16:02] econoar opened #416 "[BOUNTY] Create page for Stateless Clients"
We need a page to explain what stateless clients are and what they will be used for.

This page should include:
-An explanation of what stateless clients are
-How they differ from stateful clients today
-What the change to end users is (storage, resources, etc.)
-What the change to miners/stakers are
-Any changes on the consensus side
-Any changes on the security assumptions of the chain
-How this

[2020-01-10 16:32] econoar opened #417 "[BOUNTY] Update eth1 > eth2 migration page with new proposal"
The eth1 > eth2 migration page is solid but is a bit outdated. Vitalik just put a [new proposal](https://ethresear.ch/t/alternative-proposal-for-early-eth1-eth2-merge/6666) for an early transition which seems to be getting acceptance among the wider community. There is a decent summary of the talk at the latest eth2 call [here](https://etherworld.co/2020/01/09/early-eth1-eth2-switch-is-official/).

[2020-01-10 16:42] econoar opened #418 "[BOUNTY] Eth2 Client Architecture"
We need a page outlining the eth2 client architecture under the [Ethereum 2.0 section](https://docs.ethhub.io/ethereum-roadmap/ethereum-2.0/eth-2.0-phases/). This page [here](https://hackmd.io/@Yl0VNGYRR6aeDrHHQNhuaA/rJl05Lk6X?type=view) is a really good guide for the content although it may be outdated.

This page should include:
-explanation of what eth2 client architecture looks like
-differenc

[2020-01-13 17:57] acolytec3 commented on #418
@gitcoinbot Yes, just haven't had a chance to get to it yet. Will start on a draft tonight or tomorrow.

[2020-01-15 00:37] acolytec3 commented on #418
@econoar Sorry for the delay in getting something submitted. I've got a working draft locally and hope to submit a first draft for review in the next day or two. Real life has just gotten in the way.

[2020-01-16 09:17] adrianhacker-pdx commented on #415
Here is the ZK-Rollups page to be added under the  docs section.  I don't seem to have access to be able to make a pull request.

[zk-rollups.txt](https://github.com/ethhub-io/ethhub/files/4070259/zk-rollups.txt)

[2020-01-16 09:26] adrianhacker-pdx commented on #415
Sorry I didn't put the link into my work completed submission on Gitcoin.  There is a pull request here:

https://github.com/ethhub-io/ethhub/pull/421

[2020-01-18 01:27] sassal opened #422 "[BOUNTY] Explainer page for Account Abstraction"
We need a page outlining exactly what Account Abstraction is and the current progress on it within Ethereum.

This page should include:
-Explanation of what Account Abstraction is
-Why Account Abstraction is needed
-Benefits of Account Abstraction
-Examples of apps that benefit from Account Abstraction
-Resources to learn more

Here are some resources to get you started:
-https://ethresear.ch/t/tr

[2020-01-19 13:04] sanchaymittal commented on #417
@econoar I will be sharing the Draft commit today only.

[2020-01-19 17:46] #418 closed

[2020-01-19 17:50] #415 closed

[2020-01-19 17:51] #416 closed

[2020-01-29 03:17] sanchaymittal commented on #417
@econoar Please review the Commit.

[2020-01-29 03:22] #417 closed

[2020-03-16 21:40] owocki opened #440 "Add TLDR of Gitcoin ETH2 Livestream Overview Playlist"
https://www.youtube.com/watch?v=td750o3xf8k&list=PLvTrX8LNPbPkOOTmVqjljLs2vk5-YZwLG

We'd like to have this video Playlist into an ETH2 page.

Please make this into a page on ETHHub with TLDR points and link it from the ETH2 nav.

[2020-03-16 21:40] owocki commented on #440
@sassal look ok?

[2020-03-16 21:40] owocki commented on #440
if so ill bounty it

[2020-03-18 02:40] sassal commented on #440
Yep feel free to bounty it :)

[2020-05-10 15:33] developerfred opened #455 "Discord Link Broken on Readme"
#### Join the discussion on our Discord server: https://discord.gg/VDMBe4c

[2020-05-11 02:39] sassal commented on #455
Fixed - thanks for pointing that out :)

https://discord.gg/Fv2F3a7

[2020-05-11 02:39] #455 closed

[2020-11-07 17:39] PrapatsaraNaksuth opened #497 "hasa-rate.json.txt"

[2021-03-24 19:45] coopwilliams opened #508 "Bad certificate in linked "History of Ethereum" timeline"
[This page](https://github.com/ethhub-io/ethhub/blob/master/docs/ethereum-basics/history-and-forks.md) links to this [timeline](https://thehistoryofethereum.com/), which has an unsafe certificate. I'm not sure why that would be, but I propose linking to [this timeline](https://ethereum.org/en/history/) instead.

[2021-04-21 19:02] ubaistp opened #511 "Bug"

[2021-04-26 03:41] #511 closed

[2021-05-09 02:45] zagarskas opened #512 "Every single one of the "built on ETH" SVG graphics were not expanded properly"
Problem is here:
https://github.com/ethhub-io/ethhub/tree/master/docs/assets/files/builtoneth_branding/SVG

Every SVG here was exported with an error in the TEXT element.
The fix is simple: expand the text in illustrator, then export it

If you attempt to use the SVG, open it, embed it, or edit it in any vector program the problem will be obvious.
See attached for more information.

Currently, the

[2021-05-09 02:51] zagarskas opened #513 "None of the "built on ETH" AI graphics were expanded properly"
Simple problem here:
Because the FONT elements were not EXPANDED in the AI files they come through with problems that are not easily resolved.

The fix is simple, like the SVG problem
EXPAND the fonts so they do not have to be embeded.

When we receive AI and SVG files the general "standard" is assumed that the original designer will take the courtesy of expanding the fonts using "select, expand"

[2021-05-09 03:11] zagarskas commented on #512
Attached here I believe I have "fixed" them.
Note - I had to head to "object, expand" TWICE on the Ethereum wordmark, then merge it as a simple shape.
These now display properly in the browser and open without issue nor do they require users to get the font.

Compare these to the official repository on Mac, PC, Chrome, Firefox, Android, Ios, ect...
Unfortunately I was not able to upload SVG files

[2021-05-25 12:52] descartes2100 opened #514 "How to add a max limit on the burn function with solidity?"
How to add a max limit on the burn function with solidity? Actually accumulating the max amount of tokens and triggering the burn function as soon as the max amount reaches? Can you help me? Thank you.

[2021-06-09 19:22] TAN-ZIXUAN opened #517 "Ethhub discord link is invalid. Please update a new one"
the discord link at https://github.com/ethhub-io/ethhub/blob/master/docs/other/internationalization.md is invalid. Looks it's expired. Please update a new invitation link.

[2021-11-16 03:06] elylon1101 opened #533 "Etherscan missing record"
https://ropsten.etherscan.io/address/0x925914d277cdd3ce2af08408099712bdbb10daba
![image](https://user-images.githubusercontent.com/54056210/141888431-20287b94-e57f-48f3-a6c0-658ea54dbb9b.png)
I lost a transfer record of 1eth

[2022-01-18 13:50] taxmeifyoucan opened #540 "Eth2 renaming"
Following [The Great Renaming](https://notes.ethereum.org/@timbeiko/great-renaming), I would suggest to rename Eth2 references, e.g. to `beacon chain` or `consensus upgrades`. Docs are full of these references, at least [roadmap](https://docs.ethhub.io/ethereum-roadmap/ethereum-2.0/eth-2.0-phases/) pages should reflect the new nomenclature.

[2022-03-28 22:57] hups2 commented on #517
Update

[2022-04-10 13:32] mrvictor1of1 opened #548 "Decentralized Social"
ETH Social Media Discord?

[2022-04-13 13:28] SchmittLea opened #549 "Outdated DeFi Example in Economics section: Dharma"
In "[Ethereum 2.0 Economics](https://docs.ethhub.io/ethereum-roadmap/ethereum-2.0/eth-2.0-economics/)" section under "Competitors" there's one outdated example: Dharma

The company shut down on [Feb 18th 2022](https://twitter.com/Dharma_HQ/status/1494705174132105223?s=20&t=u9_Go1kvo3aG4pKoqVnVOQ)

[2022-09-04 22:52] vehicles4real opened #561 "Daniel"